<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwavDiw-DTejGQ8qvATgYvxwO3FMRGsnw</string>
	<key>GCM_SENDER_ID</key>
	<string>143353797930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goQreateTeams</string>
	<key>PROJECT_ID</key>
	<string>go-qreate-teams</string>
	<key>STORAGE_BUCKET</key>
	<string>go-qreate-teams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143353797930:ios:7244b69cbdab4268ea9253</string>
</dict>
</plist>